server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/lesson
    username: lesson
    password: 1234
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  output:
    ansi:
      enabled: ALWAYS

logging:
  level:
    root: INFO
    org.springframework: INFO

file:
  upload:
    folder: /Users/xojiakbar/upload
